version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: kasir-postgres
    ports:
      - "5433:5432"
    environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kasir"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: kasir-api
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=development
      - DB_CONN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
      - API_KEY=${API_KEY}
    env_file:
      - .env.development
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "
        echo 'menunggu database...' &&
        sleep 2 &&
        echo 'menjalankan migration...' &&
        go run cmd/migrate/main.go -cmd up &&
        echo 'migration selesai, starting API...' &&
        go run main.go
      "

volumes:
  postgres_data: